@use './variables' as v;

@media (max-width: 768px) {
    /* Ocultar menú en móviles */
    .main-nav {
        display: none;
    }

    /* Mostrar menú cuando tenga la clase .active */
    .main-nav.active {
        display: block;
        background-color: v.$color-principal;
        padding: 1rem;
    }

    .main-nav ul li {
        display: block;
        margin: 10px 0;
    }

    /* Contacto en columna */
    .contact-container {
        flex-direction: column;
        text-align: center;
    }

    .profile-pic {
        width: 120px;
    }
}
